.footerMain {
  padding: 20px 0;
  background-color: darkslategrey;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
.text {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'MontserratRegular', sans-serif;
  letter-spacing: 0.1em;
}
