.oneDay {
  padding: 40px 0;
}
.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
.title {
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'MontserratRegular', sans-serif;
  letter-spacing: 0.1em;
}
.formCont {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1170px) {
  .container {
    width: 1170px;
  }
}
